# OpenWeather API Key
OPENWEATHER_API_KEY=

# Firebase API Keys
FIREBASE_WEB_API_KEY=
FIREBASE_ANDROID_API_KEY=
FIREBASE_IOS_API_KEY=

# RSS Feed URL
RSS_FEED_URL=https://ysia.ru/feed/

# API Ninjas Key (horoscope)
API_NINJAS_KEY=

# APIVerve Key (horoscope - приоритетный)
API_VERVE_KEY=
